<footer class="footer mt-3">
  <!-- <div class="{% if page.container_class %}{{ page.container_class }}{% else %}container-fluid{% endif %}"> -->
  <div class="container pl-4" style="max-width: 1700px;">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="row my-3">
          <div class="col-12">
            <div class="text-muted">
              <small>
                &copy; Powered by {{ site.data.display.footer_text }}.<br>
                Last updated: {{ "now" | date: "%b %Y" }}
              </small>
            </div>
          </div>
          <!-- <div class="col-6">
            <div class="text-right text-muted">
              {{ site.data.display.footer_text }}
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</footer>
